name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Build project
        run: ./build.sh

      - name: Run project
        run: LD_PRELOAD=./build/bin/libhook.so ./build/bin/demo
